html {
    /* border: 10px solid blue; */
    font-family: 'Cantarell', sans-serif;
    /* font-family: 'Kotta One', serif; */
    color: whitesmoke;
}

body {
    /* border: 10px solid green;  */
}

header {
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap; */
    justify-content: space-between;
    position:fixed ;
    top: 0;
    left:0;
    /* formatting */
    background-color: rgba(0, 0, 0, .6);
    height: 2.8rem;
    width: 100%; 
}

header > div {
    background-color: red;
    width: 50px;
    height: 1rem;
}

#idx-atf {
    height: 100vh;

    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* flex-flow:  row nowrap; */
    justify-content: center; /* Main Axes*/
    align-items: center;   /* Cross axes*/

    /* Background */
    background-color: #5b5b5b;
    background-image: url("../img/background-photo-mobile-devices.jpg");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    /* background-origin: border-box; */ /*Default */
    background-attachment: fixed;
    
    /* formatting */
    /* border: 10px solid hotpink; */

}

#idx-atf > div {
    height: 75vh;
}

.idx-center-spacebetween {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* flex-flow:  column nowrap; */
    justify-content: space-between;
    align-items: center;
}

.idx-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.9rem;
    text-align: center;
}

h2 {
    font-size: 1.4;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1.5rem;
    line-height: 1.5;
}

button {
    color: rgb(202,250,234);
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid rgb(202,250,234);
    padding: 0.5rem;
    border-radius: 5px;
}

