#relative {
    position: relative;
    left: 100px;
    top: 300px;
 /* --- Format --- */
    height: 450px;
    width: 450px;
    background-color: red;
}

#absolute {
    position: absolute ;
    top: 40px;
    right:30px;

     /* --- Format --- */
     height: 150px;
     width: 150px;
     background-color: greenyellow;
}