p {
    border: 1px solid blue;
    padding: 10px;
}

div {
    border: 1px solid blue;
    padding: 10px;
    display: inline-block;

}

span {
    border: 1px solid blue;
    padding: 10px;
    display: inline-block;
}

h1, h2 {
    border: 1px solid blue;
    padding: 10px;
}