
/* --- Flex Container --- */
header {
    display: flex;
    /* Default settings */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between ;
    border: 1px solid red;
}

/* --- Flex Container --- */
main {
    display: flex;
    /* Default settings */
    flex-direction: row;
    /* To play with */
    /*flex-wrap: nowrap;*/
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    
}


/* --- Flex Item --- */
div {

    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px solid blue;   
}