div {
    height: 300px;
    width: 300px;
    background-image: url("puppy.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
}

header {
    height: 600px;
    width: 600px;
    /* background-image: url("puppy.jpg"); */
    background-image: linear-gradient(rgba(0,0,255,0.5), rgba(255,255,0,0.5)), url("puppy.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
}