html {
    color: whitesmoke;
    font-family: 'Cantarell', sans-serif;
}

#idx-atf {
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* flex-flow:  row nowrap; */
    justify-content: center;
    align-items: center;

    background-color: #5b5b5b;
    background-image: url(../img/background-photo-mobile-devices.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-origin: border-box; */
    background-attachment: fixed;

    
}

#idx-atf > div {
    height: 90vh;
}

.idx-center-spacebetween {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* flex-flow:  row nowrap; */
    justify-content: space-between;
    align-items: center;

}

.idx-center-center {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* flex-flow:  row nowrap; */
    justify-content: center;
    align-items: center;
}



h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0,8rem;
    line-height: 1.2;
}

button {
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(202, 250, 234);

    border: 1px solid rgb(202, 250, 234);
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
    background-color: transparent;
}
/* font-family: 'Kotta One', serif; */